{% import "macros.jinja" as macros %}

<!DOCTYPE HTML5/>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pi Database</title>
    {{ fontawesome_html() }}
    {% assets "scss_bundle" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

</head>

<body {% if high_contrast %} class="high-contrast-body" {% endif %}>
    {% block content %} {% endblock content %}
</body>

{% block scripts %}{% endblock scripts %}

</html>