.type-buttons {
  grid-row: 3/5;
  grid-column: 3;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;

  @media screen {

  }

  div {
    @include flex-center();
    height: 134px;
    border-bottom: 10px solid transparent;
    border-radius: 2px;

    color: white;
    background: $background-mid;

    font-size: 2.2rem;
    font-weight: bold;

    transition: all 0.2s ease 0s;
    cursor: pointer;

    &:hover {
      @include active-button();
      font-size: 2.8rem;
      height: 134px;
    }
  }

  & > .active-type {
    @include active-button();
  }

}